import React from 'react';

interface {{pascalCase name}}Props {}

export function {{pascalCase name}}(props: {{pascalCase name}}Props): React.FC<{{pascalCase name}}Props> {
  return (
    <div>
      <h2>{{pascalCase name}} Component</h2>
    </div>
  );
};
